header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hwb(0 100% 0%);
  padding: 10px 40px;
}
nav ul {
font-family: Tahoma, Verdana, sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
}

.logo
{
 font-family: Tahoma, Verdana, sans-serif;
  font-size: 24px;
  color: rgb(0, 0, 0);
}
.hero {
  position: relative;
  width: 100%;
  height: 400px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
font-family: Tahoma, Verdana, sans-serif;
  position: absolute;
  top: 40%;
  left: 28%;
  transform: translate(-50%, -60%);
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.hero button
{
  background-color: rgb(17, 126, 214);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}