header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hwb(0 100% 0%);
  padding: 10px 40px;
}
nav ul {
font-family: Tahoma, Verdana, sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
}

.logo
{
font-family: "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(0, 0, 0);
}
.hero {
  position: relative;
  width: 100%;
  height: 400px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero p2
{
font-family: "Arial", "Helvetica", sans-serif;
  position: absolute;
  top: 105%;
  left: 0%;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.hero-text {
font-family: "Arial", "Helvetica", sans-serif;
  position: absolute;
  top: 40%;
  left: 28%;
  transform: translate(-50%, -60%);
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.hero p1 {
  font-family: "Arial", "Helvetica", sans-serif;
  position: absolute;
  top: 130%;
  left: 16.5%;
  transform: translate(-100%, -100%);
  color: rgb(202, 201, 201);
  font-size: 16px;
  font-weight: bold;
}

.hero button
{
  background-color: rgb(17, 126, 214);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.Screenshots{
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.Screenshots img{
  width: 100%;
  height: 250px;
  border-radius: 8px;
  display: block;
}
.h1
{
  margin-top: 40px;
font-family: "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-left: 40px;
}

.row{
  display: flex;
  gap: 16px;
}

.square{
  margin-top: 40px;
  margin-left: 40px;
  gap: 20px;
  width: 30%;
  height: 150px;
  background: #ffffff;
  border-radius: 8px;
   box-shadow: 3px 3px 3px rgb(17, 126, 214),
             -3px -3px 3px rgb(60, 60, 60);
             
}
.square-text
{
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-left: 25%;
  margin-bottom: 0%;
}
a {
  color: inherit;
  text-decoration: none;
}
